/* шрифты взяты с сайта http://fonts4web.ru/segoeui.html */

@font-face {
    font-family: SegoeUIRegular;
    src: url("../fonts/SegoeUI/SegoeUIRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: SegoeUIBold;
    src: url("../fonts/SegoeUI/SegoeUIBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: SegoeUIItalic;
    src: url("../fonts/SegoeUI/SegoeUIItalic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: SegoeUILight;
    src: url("../fonts/SegoeUI/SegoeUILight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: SegoeUISemiBold;
    src: url("../fonts/SegoeUI/SegoeUISemiBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}